.label {
    width: 80%;
    /* height: 50px; */
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 15px 15px 0px 0px;
    text-align: right;
    padding: 10px 15px;
    font-weight: bold;
    background-color: rgb(228, 228, 228);
  }
.label-2 {
  width: 80%;
    /* height: 50px; */
    outline: none;
    border: none;
    border-radius: 0px 0px 15px 15px;
    text-align: right;
    padding: 15px 15px;
    /* font-size: 20px; */
    font-weight: bold;
    background-color: rgb(228, 228, 228);
}